<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="connection.username">root</property>
	<property name="connection.password">admin</property>  <!-- test -->
	<property name="connection.url">jdbc:mysql://localhost:3306/share-communication1</property>
	<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>

	<property name="hbm2ddl.auto">update</property>  <!-- 自动创建表 -->
	<property name="show_sql">true</property>
	<property name="format_sql">true</property>
	<!-- 主要是为了将来可以利用getCurrentSession来打开当前会话 -->
	<property name="current_session_context_class">thread</property>	
	<!-- 如果是要使用这行的话那就需要在实体类中用注解的方式对主键进行注解 -->
    <!-- <mapping class="cn.edu.jxnu.entity.User"/> -->
	<!-- 该行是为了加载实体类对应的映射表非注解的方式 -->
	<mapping resource="cn/edu/jxnu/entity/Admin.hbm.xml" />
	<mapping resource="cn/edu/jxnu/entity/Student.hbm.xml" />
	<mapping resource="cn/edu/jxnu/entity/Teacher.hbm.xml"/>
</session-factory>
</hibernate-configuration>